# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# Neon DATABASE_URL
DATABASE_URL="postgresql://neondb_owner:npg_bDtQzsv41axi@ep-aged-meadow-ab7gjw9c-pooler.eu-west-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN=
